* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 720px;
}

@media screen and (max-width:600px) {
    #container {
        width: 100%;
        height: 100vh;
        margin: 0;
        overflow: scroll;
        box-shadow: none;
        animation: none;
    }
}

.card {
    margin-top: 30px;
}

.card-body {
    align-content: center;
    padding: 0 !important;
}

*,
::after,
::before {
    content:none;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-) */
    display: flex;
    align-items: center;
}

#fromToArea{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#from,
#to {
    font-size: 15px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
}

#fromAmount,
#toAmount {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
}

.form-control{
    /* padding-top: 15px !important;
    padding-bottom: 15px !important; */
    height: 100px !important;
}

.form-control-up{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
    padding-left: 20px;
}

 #fromAmount{
    font-size: 30px;
} 

#fromAmount-equation{
    opacity: 0.4;
    padding-left: 23px;
} 

.btn-lg {
    width: 105px;
    height: 60px;
    font-size: 0.4;
    padding: 2px !important;
    margin: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 !important;
}

.card-footer {
    padding: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#canvas-container {
    width: 450px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 10 !important;
}

@media screen and (max-width:600px) {
    #canvas-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

canvas {
    display: inline;
}

.myDropdown {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    margin-top: 10px;
}

#myTable {
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .btn {
        width: 85px;
        height: 65px;
        font-size: 20px;
        margin: 2px;
    }
}