/* #box{
    width: 300px;
    height: 150px;
    margin: 0px auto;
    border: 1px solid black;
    padding: 5px;
} */

.card{
    margin-top: 30px;
   height: 650px !important;
}

.card-body{
    align-content: center;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-) */
    display: flex;
    align-items: center;
}

table {
    margin: 0px auto;
}

.btn-lg {
    width: 105px;
    height: 60px;
    font-size: 0.4;
    padding: 2px !important;
    margin:1px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 !important;
}

.card-footer{
    padding:0 !important;
}

#canvas-container{
    width: 450px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}
canvas{
   display: inline;
}

.myDropdown{
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    margin-top: 10px;
   
}

#myTable{
    margin: 0 auto;
}